@tailwind base;
h1 {
  @apply text-3xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
h4 {
  @apply text-lg;
}
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: revert;
  }
}

  html{
    scroll-behavior:smooth
  }

  .nav-overlay-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .nav-overlay-nav {
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  .nav-overlay-carousel {
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

  .carousel-video {
    object-fit: initial; 
    width: 100%;
    height: 110vh; 
    z-index: 3;
  }

  .carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    font-weight: 700;
    color: #FFF;
    opacity: 0.4;
  }

  .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    color: white;
    margin-left: 10px;
 }

 .owl-next {
  position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 100px;
    color: white;
    margin-right: 10px;
 }

  .item {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  #ul-nav {
    background-color: transparent;
  }

  .section-title {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: #FFF;
  }

  .product_carousel_wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 3rem;
    width: auto;
    height: auto;
  }

  .common-button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .common-button {
    border: none;
    background-color: #fff;
    border-radius: 40px;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 40px;
    font-size: 16px;
    color: black;
    font-size: 12px;
}

.common-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1;
  height: 1px;
  width: 60%;
  background-color: #031843;
}

#home-model-wrapper {
  padding: 4rem; 
  background-color: #031843;
}
#home-gallery-wrapper {
  padding: 5rem;
  background-color: #FFF;
}

.background-menu {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tabs-wrapper {
  padding: 1rem 0 0;
  background-color: #FFF;
}

.tabs-header {
  overflow: auto;
  white-space: nowrap;
  min-width: 100%;
}

.tabs-header .tabs-item{
  padding: 1.5rem 1rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.tabs-header .tabs-item-active{
  padding: 1.5rem 1rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-bottom: #005BA9 solid 2px;
}
.tabs-header .tabs-item:hover{
  padding: 1.5rem 1rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  border-bottom: #005BA9 solid 2px;
  transition: all 0.1s ease;
}
.tabs-header-specification {
  overflow: auto;
  white-space: nowrap;
  min-width: 100%;
}

.tabs-header-specification .tabs-item-specification{
  padding: 1.5rem 1rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.tabs-header-specification .tabs-item-specification-active{
  padding: 1.5rem 1rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-bottom: white solid 2px;
}
.tabs-header-specification .tabs-item-specification:hover{
  padding: 1.5rem 1rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  border-bottom: white solid 2px;
  transition: all 0.1s ease;
}

.item-product-list {
  background-color: #f1f1f1;
}
.item-product-list:hover {
  background-color: #005BA9;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
}

.page-carousel-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  font-weight: 700;
  color: #FFF;
  opacity: 0.4;
}

#detail-specification-wrapper {
  background-color: rgb(54, 54, 56);
}

.text-manipulation p {
  font-weight: 200;
  color: rgb(209 213 219);
}

.global-search::placeholder {
  color: white;
}

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  @media only screen and (max-width: 767px) {
    .owl-next {
      display: none;
    }
    .owl-prev {
      display: none;
    }
    #home-model-wrapper {
      padding-right: 6px;
      padding-left: 6px;
      padding-top: 4rem;
    }
    .product_carousel_descriptions{
      display: none;
    }
    .line-trough {
      display: none;
    }
    .product_carousel_wrapper {
      width: 100%;
      height: 100%;
    }
    #home-gallery-wrapper {
      padding: 2.3rem;
    }
  }
